{% extends 'base.html.twig' %}
{% block title %}
    Add items
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/formstyles.css") }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="box_left">
        {% block boxLeft %}
            {% if msg %}
                <div class="alert alert-success"> <strong>{{ msg }}</strong></div>
            {% endif %}
            <div class="col-sm-6">
                <div class="well">
                    <legend class="scheduler-border">Stock Item details</legend>
                    <ul class="nav nav-tabs nav-pills nav-justified">
                        <li class="active"><a data-toggle="tab" href="#Add">Add</a></li>
                        <li><a data-toggle="tab" href="#Update">Update</a></li>
                    </ul>
                    <div class="row">
                    <div class="tab-content">
                        <div id="Add" class="tab-pane fade in active">
                            <h3>Add Stock Item</h3>
                            <form method="post">
                                <fieldset>
                                    <p>
                                        <label for="productAddType">Product Type </label>
                                        <select name="productAddType" id="productAddType" onchange="getStockID()">
                                            {% for type in types %}
                                                {% if loop.index == 1 %}
                                                    <option value="{{ type.stockTypeName }}" id="{{ type.id }}"
                                                            selected="selected">{{ type.stockTypeName }}</option>
                                                {% else %}
                                                    <option value="{{ type.stockTypeName }}" id="{{ type.id }}">
                                                {{ type.stockTypeName }}</option>
                                                {% endif %}
                                            {%  endfor %}
                                        </select>
                                    </p>
                                    <p>
                                        <label for="productAddName">Product Name </label>
                                        <input type="text" name="productAddName" id="fn" size="50" />
                                    </p>

                                    <p>
                                        <label for="productAddBase">Base Features </label>
                                <textarea name="productAddBase" id="productAddBase" rows="5" cols="47"
                                >Please separate features with a coma(,)
                                </textarea>
                                    </p>
                                    <p>
                                        <label for="productAddSpecs">Device Specifications </label>
                                <textarea name="productAddSpecs" id="productAddSpecs" rows="5" cols="47"
                                >Please separate Specifications with a coma(,)
                                </textarea>
                                    </p>
                                    <p>
                                        <label for="productAddContent">Package Contents </label>
                                <textarea name="productAddContent" id="productAddContent" rows="5" cols="47"
                                >Please separate Contents with a coma(,)
                                </textarea>
                                    </p>
                                    <p>
                                        <label for="productAddSysReq">System Requirements </label>
                                <textarea name="productAddSysReq" id="productAddSysReq" rows="5" cols="47"
                                >Please separate System Requirements with a coma(,)
                                </textarea>
                                    </p>
                                    <p>
                                        <input type="hidden" name="productAddStockId" id="productAddStockId" />
                                    </p>
                                </fieldset>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>
                            </div>

                        <div id="Update" class="tab-pane fade">
                            <h3>Update Stock Items</h3>
                            <form method="post">
                                <fieldset>
                                <!--div class="well well-sm"-->
                                <p>
                                    <label for="productUpName">Product Type </label>
                                    <select name="productUpName" id="productUpName" onchange="loadItemData()">
                                        {% for item in currentItems %}
                                            {% if loop.index == 1 %}
                                                <option value="{{ item.stockItemName }}" selected="selected" >{{ item.stockItemName }}</option>
                                                {{ item.stockItemSpec }}
                                            {% else %}
                                                <option value="{{ item.stockItemName }}" >{{ item.stockItemName }}</option>
                                                {{ item.stockItemSpec }}
                                            {% endif %}
                                        {%  endfor %}
                                    </select>
                                </p>

                                <p>
                                    <label for="productUpBase">Base Features </label>
                                    <textarea name="productUpBase" id="productUpBase" rows="5" cols="47"
                                        >Please separate features with a coma(,)
                                    </textarea>
                                </p>
                                <p>
                                    <label for="productUpSpecs">Device Specifications </label>
                                    <textarea name="productUpSpecs" id="productUpSpecs" rows="5" cols="47"
                                        >Please separate Specifications with a coma(,)
                                    </textarea>
                                </p>
                                <p>
                                    <label for="productUpContent">Package Contents </label>
                                    <textarea name="productUpContent" id="productUpContent" rows="5" cols="47"
                                        >Please separate Contents with a coma(,)
                                    </textarea>
                                </p>
                                <p>
                                    <label for="productUpSysReq">System Requirements </label>
                                    <textarea name="productUpSysReq" id="productUpSysReq" rows="5" cols="47"
                                        >Please separate System Requirements with a coma(,)
                                    </textarea>
                                </p>
                                </fieldset>
                                    <button type="submit" class="btn btn-primary">Update changes</button>
                                </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="top_box_left">
        {% block topBoxRight %}
            <div class="col-sm-4">
                <div class="well">
                    <legend class="scheduler-border">Update no. of Stock items</legend>
                    <div class="row">
                        <form method="post">
                            <p>
                                <label for="productCountName">Product Type </label>
                                <select name="productCountName" id="productCountName">
                                    {% for item in currentItems %}
                                        <option value="{{ item.stockItemName }}" selected="selected">
                                            {{ item.stockItemName }}</option>{{ item.stockItemSpec }}
                                    {%  endfor %}
                                </select>
                            </p>
                            <p>
                                <label for="productCountNum">No. of Products </label>
                                <input name="productCountNum" id="productCountNum" type="number" min="1" max="9999" />
                            </p>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="mid_box_left">
        {% block midBoxRight %}
            {%  set serialCount = 0 %}
            {% for missing in serials %}
                {% if missing.stockSerial == 'TBD' %}
                   {% set serialCount = serialCount + 1 %}
                {% endif %}
            {% endfor %}
            <div class="col-sm-4">
                <div class="well">
                    <legend class="scheduler-border">Stock Pending serial no. <span class="badge">{{ serialCount }}
                        </span></legend>
                    <div class="row">
                        <form METHOD="post">
                            <p>
                                <label for="productSerialType">Product Type </label>
                                <select name="productSerialType" id="productSerialType" onchange="loadSerialItems()">
                                    {% for type in types %}
                                        {% if loop.index == 2 %}
                                            <option value="{{ type.stockTypeName }}" id="{{ type.id }}" selected="selected">
                                                {{ type.stockTypeName }}</option>
                                        {% else %}
                                            <option value="{{ type.stockTypeName }}" id="{{ type.id }}" selected="selected">
                                                {{ type.stockTypeName }}</option>
                                        {% endif %}
                                    {%  endfor %}
                                </select>
                            </p>
                            <p>
                                <label for="productSerialItem">Product Name </label>
                                <select name="productSerialItem" id="productSerialItem" onchange="storeSerialId()">
                                </select>
                            </p>
                            <p>
                                <label for="productSerialNum">Serial no. </label>
                                <input type="hidden" name="productSerialId" id ="productSerialId" value=""/>
                                <input type="text" name="productSerialNum" id="productSerialNum" size="50"/>
                            </p>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="bot_box_left">
        {% block botBoxRight %}
            <div class="col-sm-4">
                <div class="well">
                    <legend class="scheduler-border">Negative Stock <span class="label label-pill label-danger">10
                        </span></legend>
                    <div class="row">
                        <form>
                            <p>
                                <ul>
                                    <li>Routers<span class="badge">10</span></li>
                                    <li>Mobile<span class="badge">10</span></li>
                                    <li>Sim<span class="badge">10</span></li>
                                </ul>
                            </p>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById("productAddType").addEventListener("load", getStockID);
        document.getElementById("productUpName").addEventListener("load",loadItemData);
        document.getElementById("productSerialType").addEventListener("load",loadSerialItems);

        function populateData()
        {
            loadItemData();
            getStockID();
            loadSerialItems();
        }

        function loadItemData()
        {

            var opt = document.getElementById('productUpName');
            var selVal = opt.options[opt.selectedIndex].value;
            {% for items in currentItems %}
            if(selVal == '{{ items.stockItemName }}')
            {
                document.getElementById('productUpBase').value = {{ items.stockItemBase|json_encode|raw  }};
                document.getElementById('productUpSpecs').value = {{ items.stockItemSpec|json_encode|raw }};
                document.getElementById('productUpContent').value = {{ items.stockItemCont|json_encode|raw }};
                document.getElementById('productUpSysReq').innerHTML = {{ items.stockItemReq|json_encode|raw }};
            }
            {% endfor %}
        }

        function getStockID()
        {

            var opt = document.getElementById('productAddType');
            var selVal = opt.options[opt.selectedIndex].id;
        //window.alert(selVal);
            document.getElementById('productAddStockId').value=selVal;
        }

        function loadSerialItems()
        {
            document.getElementById('productSerialItem').options.length = 0;
            var opt = document.getElementById('productSerialType');
            var selID =  opt.options[opt.selectedIndex].id;
            var select = document.getElementById('productSerialItem');
            {% for items in currentItems %}
            if(selID == {{ items.id }})
            {
                var itemOpts = document.createElement('option');
                itemOpts.value = '{{ items.stockItemName }}';
                itemOpts.textContent = '{{ items.stockItemName }}';
                select.appendChild(itemOpts);
            }
            {% endfor %}
        }

        function storeSerialId()
        {
            var opt = document.getElementById('productSerialItem');
            var selID = opt.options[opt.selectedIndex].id;
            //window.alert(selID);

        }
    </script>
{% endblock %}